body {
    background-color: #453137;
}

#icon {
    width: 64px;
    height: 64px;
}

p {
    color: floralwhite;
    font-family: sans-serif;
    margin: 0 4px 0 0;
}

#name {
    margin-top: 12px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: medium;
}

#author {
    margin-bottom: 8px;
    font-weight: lighter;
    font-size: small;
}